#logo img {
	border-radius: 50%;
	-moz-border-radius: 560%;
	-webkit-border-radius: 50%;
	margin-bottom: 10px;
}

.title a {
	padding-left: 30px;
}

.subtitle {
	padding-left: 40px;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	color: white;
	font-style: italic;
}

#sub-nav {
	text-align: center;
}
#sub-nav .social a {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
text-indent: -9999px;
margin: 0 15px 15px 0;
opacity: 0.5;
width: 28px;
height: 28px;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}

#sub-nav .social a.weibo {
background: url('style/images/ico/weibo.png') center no-repeat #e32529;
border: 1px solid #E32529;
}

#sub-nav .social a.github {
background: url('style/images/ico/github.png') center no-repeat #afb6ca;
}

#sub-nav .social a.iteye {
background: url('style/images/ico/iteye.ico') center no-repeat #069;
border: 1px solid #006699;
}

html, body, div {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
	clear: both;
}

/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/

html, body {
	height: 100%;
}

body {
	background-color: #FCFCFC;
	font-family:Arial, sans-serif;
	font-size: 13px;
	color: #585858;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

a {
	color: #688dad;
	text-decoration: none;
}

a:hover {
	color: #ab4d63;
}

a.more {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 13px;
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Amaranth', sans-serif;
	color: #4a4a4a;
	font-weight: normal;
	margin: 0 0 10px 0;
}
h1 {
	font-size: 22px;
	line-height: 26px;
}
h2 {
	font-size: 20px;
	line-height: 24px;
}

h3 {
	font-size: 18px;
	line-height: 22px;
}
h4 {
	font-size: 16px;
	line-height: 20px;
}
h5 {
	font-size: 14px;
	line-height: 20px;
}
h6 {
	font-size: 12px;
	line-height: 18px;
}

h1.title {
	padding: 0;
}

.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}

.line {
	background: transparent url(style/images/line.png) repeat-x;
	height: 2px;
	padding: 20px 0 0 0;
	line-break: 0px;
}

.intro {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 17px;
	color: #585858;
	line-height: 24px;
	margin-bottom: 20px;
}

#wrapper {
	width: 990px;
	margin: 0 auto;
	overflow: hidden;
}

#content {
	width: 700px;
	float: right;
	padding: 40px 0 20px 0;
}

#sidebar {
	width: 258px;
	height: 100%;
	background: #596d7f url(style/images/noize.png) repeat 100% 0;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	border-left: 1px solid rgba(0, 0, 0, 0.50);
	border-right: 1px solid rgba(0, 0, 0, 0.50);
	float: left;
	position: fixed;
	margin-top: -1px;
	z-index: 100;
}

#blog #sidebar {
	position: relative;
}

#logo {
	text-align: left;
	padding: 40px 32px 0 32px;
}

#logo a {
	border: none;
}

#logo img {
	display: inline;
}

#sidebar ul.share {
	line-height: 1;
	text-align: left;
}

#sidebar ul.share li {
	background: none;
	padding: 0;
	display: inline-block;
	padding-right: 3px;
}

.sidebox {
	width: 200px;
	margin: 0 auto 50px auto;
}

.sidebox h3 {
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	color: #f0f0f0;
}

.secondary .sidebox {
	margin: 0 auto 30px auto;
	width: 180px;
}

.secondary .sidebox h3 {
	color: #4a4a4a;
	text-shadow: none;
}

#footer {
	background: transparent url(style/images/footer-line.png) repeat-x top center;
	overflow: hidden;
	padding: 20px 0 0 0;
	margin-top: 40px;
}

/*-----------------------------------------------------------------------------------*/
/*	MENU
/*-----------------------------------------------------------------------------------*/

#menu {
	float: left;
	text-align: left;
	font-family: 'Amaranth', sans-serif;
	font-size: 17px;
	margin-top: 40px;
	margin-bottom: 50px;
	position: relative;
	z-index: 100;
	padding: 0 0 0 24px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.menu-v ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 200px;
	background: transparent url(style/images/menu-line.png) no-repeat center bottom;
}
 
.menu-v ul li{
	position: relative;
	padding-right: 5px;
	background: transparent url(style/images/menu-line.png) no-repeat center top;
	padding: 0;
}

.menu-v ul li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 12px 0 10px 20px;
	padding-right: 17px;
	background: transparent; 
	color: #f0f0f0;
	text-decoration: none;
	border: none;
}

.menu-v ul li a.active, .menu-v ul li a.selected, .menu-v ul li a:hover{
	text-decoration: none;
	background: transparent url(style/images/menu-hover.png) repeat-y left top;
	color: #fff;
}

.menu-v ul li ul{
	position: absolute;
	width: 130px; 
	top: 0px;
	font-weight: normal;
	visibility: hidden;
	text-align: left;
	padding: 0 15px 0 15px;
	margin-left: 0;
	background: #596d7f url(style/images/noize.png) repeat top center;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.10);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.10);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.10);
	border: 1px solid rgba(0, 0, 0, 0.30);
	font-size: 14px;
	line-height: 20px;
}

.menu-v ul li ul li{
	background: transparent url(style/images/dropdown-line.png) repeat-x left top;
}

.menu-v ul li ul li:first-child {
	background: none;
	padding-bottom: 0;
}

.menu-v ul li ul li a{
	padding: 12px 0;
}

.menu-v ul li ul li a.active, .menu-v ul li ul li a.selected, .menu-v ul li ul li a:hover{
	background: none;
}


.menu-v ul li ul {
	
}

* html .menu-v ul li { float: left; height: 1%; }
* html .menu-v ul li a { height: 1%; }


