<!DOCTYPE html>
<html lang="zh-CN">

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title></title> 

<!-- 设置描述性标签和关键词标签 -->
<meta content="" name="description">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" href="/style/css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="/style/css/bootstrap.css" type="text/css" media="all">
<link rel="stylesheet" href="/style/css/custom.css" type="text/css" media="all">
<link rel="stylesheet" href="/style/css/syntax.css" type="text/css" media="all">
</head>
<body class="home blog">

<section id="zan-bodyer">
  <div class="container" style="margin-top:5px;">

  <section class="row">
    <section id="mainstay" class="col-md-8">
      {{content}}
    </section>

    <aside id="sidebar" class="col-md-4">
      <div class="textwidget"></div>
      <div class="panel panel-zan hot">
        <div class="panel-heading">关于我</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <img src="style/img/logo.png" style="width:80px;height:80px;"/>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <nav id="sub-nav">
                <div class="social">
                  <a class="weibo" href="http://www.weibo.com/youngjd" title="新浪微博"></a>    
                  <a class="github" href="https://github.com/Humor-er" title="GitHub"></a>
                  <a class="iteye" href="http://youngjd.iteye.com/" title="我之前的博客"></a>
                </div>
              </nav>
          </li>
        </ul>
      </div>
       <!-- 最新文章模块-->
       <!--
      <div class="panel panel-zan hot">
        <div class="panel-heading">最新文章</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
        </ul>
      </div>
        <!-- 分类目录、热门标签、友情链接模块-->
      <!--<div class="panel hidden-xs">
        <ul class="nav nav-pills pills-zan">
          <li class="active"><a href="http://www.yeahzan.com/zanblog/#sidebar-categories" data-toggle="tab">分类目录</a></li>
          <li><a href="http://www.yeahzan.com/zanblog/#sidebar-links" data-toggle="tab">友情链接</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active nav bs-sidenav fade in" id="sidebar-categories"></div>
          <div class="tab-pane fade" id="sidebar-tags"></div>
        </div>
      </div>-->
      <!-- 文章存档模块  -->
      <!--<div class="panel visible-md visible-lg archive">
        <a href="http://www.yeahzan.com/zanblog/archive">
          <div class="panel-heading">     
            <span>文章存档</span>     
          </div>
        </a>
      </div>
      -->
    </aside>      

  <!--<div class="col-md-8">
    <a id="load-more" class="btn btn-zan btn-block" load-data="努力加载中..." href="http://www.yeahzan.com/zanblog/page/2"><i></i> <attr>加载更多</attr></a>
  </div>-->
  </section>
  </div>
</section>
<footer id="zan-footer">          
  Copyright © 2014 youngjd.com
</footer>
</body>
</html>