<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Caprice</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/css/syntax.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>-->
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <!-- Begin Sidebar -->
  <div id="sidebar">
     <div id="logo"><a href="/"><img src="/css/style/images/logo.png" imgalt="Head" /></a></div>
     <h1 class="title"><a href="/">YoungJD's Blog</a></h1>
     <p class="subtitle">我有一个撑起所有梦想的大肚腩</p>
     
  <!-- Begin Menu -->
    <div id="menu" class="menu-v">
      <ul>
        <li><a href="#" class="active">首页</a></li>
        <li><a href="#">博客分类</a></li>
        <li><a href="#">关于我</a></li>
      </ul>
    </div>

    <nav id="sub-nav">
      <div class="social">
        <a class="weibo" href="http://www.weibo.com/youngjd" title="新浪微博">新浪微博</a>    
        <a class="github" href="https://github.com/Humor-er" title="GitHub">GitHub</a>
        <a class="iteye" href="http://youngjd.iteye.com/" title="我之前的博客">Iteye</a>
      </div>
    </nav>
    <!-- End Menu -->
  </div>
  <!-- End Sidebar -->
  
  {{ content }}
  
</div>
<!-- End Wrapper -->
<div class="clear"></div>
</body>
</html>