---
layout: detail
---

<div class="article well clearfix">	
	<!-- 文章内容块 -->
	<section>
		<!-- 文章title -->
		<div class="title-article">
			<h1>
				<a href="#">
				{{ page.title }}
				</a>
			</h1>
		</div>
		<!-- 文章title -->
		<div><blockquote>这是引用文段样式</blockquote></div>
		<div class="content-article">					
			<figure class="thumbnail">
				<a href="#">
					<img width="730" height="292" src="/style/img/car_10.jpg" class="attachment-730x300 wp-post-image" alt="#">
				</a>
			</figure>							
			{{content}}
		</div>
	</section>
</div>